{% extends 'base.html' %}

{% block content %}

<h2 class="text-2xl text-center text-primary mb-4">Request Blood</h2>

<div class="flex justify-center">

    <form method="POST" class="bg-white shadow-md rounded-lg p-6 w-96">
        {% csrf_token %}

        <div class="mb-3">
            <label class="block mb-1">Blood Group</label>
            <input class="w-full border rounded px-3 py-2" type="text" name="blood_group" required>
        </div>

        <div class="mb-3">
            <label class="block mb-1">Units Required</label>
            <input class="w-full border rounded px-3 py-2" type="number" name="units" required>
        </div>

        <button class="w-full bg-primary text-white py-2 rounded hover:bg-secondary">
            Submit Request
        </button>
    </form>

</div>

{% endblock %}