<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 flex items-center justify-center h-screen">

<div class="bg-white shadow-lg rounded-lg p-8 w-96">

    <h2 class="text-2xl font-bold text-center text-red-700 mb-6">
        Create Account
    </h2>

    <form method="POST">
        {% csrf_token %}

        <div class="mb-3">
            <input class="w-full border px-3 py-2 rounded" 
                   type="text" name="name" placeholder="Name" required>
        </div>

        <div class="mb-3">
            <input class="w-full border px-3 py-2 rounded" 
                   type="text" name="blood_group" placeholder="Blood Group" required>
        </div>

        <div class="mb-3">
            <input class="w-full border px-3 py-2 rounded" 
                   type="text" name="contact" placeholder="Contact" required>
        </div>

        <div class="mb-3">
            <input class="w-full border px-3 py-2 rounded" 
                   type="text" name="address" placeholder="Address">
        </div>

        <div class="mb-3">
            <input class="w-full border px-3 py-2 rounded" 
                   type="password" name="password" placeholder="Password" required>
        </div>

        <button class="w-full bg-red-700 text-white py-2 rounded hover:bg-red-800">
            Sign Up
        </button>
    </form>

    <p class="text-center mt-4">
        Already have an account? 
        <a href="/login/" class="text-red-700">Login</a>
    </p>

</div>

</body>
</html>